.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
    text-align: center;
}

.producto {
    width: 23%; /* Ajusta el ancho para el número de columnas deseado */
    margin: 1%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.miModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.contenedor-Modal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}