.todosProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  text-align: center;
  background-color: lightblue;
}

.claseContenedorProducto {
  width: 25%; /* Ajusta el ancho para el número de columnas deseado */
  margin: 1%;
  border: 2px solid #ad6060;
  padding: 10px;
  box-sizing: content-box;
  background-color:aliceblue;
}

.miCarrito {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
  text-align: center;
}

.cuadrado {
  width: 95%; /* Ajusta el ancho para el número de columnas deseado */
  margin: 3%;
  border: 3px solid #b8419e;
  padding: 5px;
  background-color: burlywood;
}
/* 
.miModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.contenedor-Modal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
} */